body{
	background-color: hsla(0, 0%, 0%, 0.9);
}

.to-do-list{
	font-family: 'Papyrus', sans-serif;
	color: hsl(199, 95%, 48%);
	text-align: center;
	margin: 10% 15% 10%;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

h1{
	font-size: 3rem;
}

button{
	background-color: hsl(199, 95%, 48%);
	font-family: 'Papyrus', sans-serif;
	font-size: 1rem;
	font-weight: bold;
	padding: 3px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.5 ease;
}

