body{
	background-color: hsla(0, 0%, 100%, 0.9);
}

.to-do-list{
	font-family: sans-serif;
	color: hsl(199, 95%, 48%);
	text-align: center;
	margin: 3rem 15% 10%;
}

h1{
	font-size: 3rem;
}

button{
	background-color: hsl(199, 95%, 48%);
	font-family: sans-serif;
	font-size: 1.7rem;
	font-weight: bold;
	color: white;
	padding: 10px 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.5 ease;
}

.add-button{
	background-color: hsl(113, 60%, 50%);
}

.add-button:hover{
	background-color: hsl(113, 60%, 40%);
}

.move-button{
	background-color: hsl(199, 95%, 48%);
}

.move-button:hover{
	background-color: hsl(199, 95%, 38%);
}

.delete-button{
	background-color: hsl(0, 100%, 50%);
}

.delete-button:hover{
	background-color: hsl(0, 100%, 40%);
}

input[type="text"]{
	font-size: 1.6rem;
	padding: 10px;
	margin: 0 10px 0px 0px;
	border: 2px solid hsl(199, 95%, 48%);
	border-radius: 5px;
	color: black;
}

ol{
	padding: 0;
}

li{
	font-size: 2rem;
	padding: 10px;
	border: 2px solid hsl(199, 95%, 48%);
	margin-bottom: 10px;
	border-radius: 10px;
	display: flex;
	align-items: center;
}

.text{
	flex: 1;
}

.delete-button, .move-button{
	padding: 8px 12px;
	font-size: 1.3rem;
	margin-left: 10px;
}